<template>
  <section id="form">
    <div id="calculator__header" class="flex flex-wrap">
      <h3 class="text-lg font-semibold mt-8 w-full">Country info</h3>
      <label class="block mt-4 w-1/5 w-max-sm mr-4">
        <span class="text-gray-700">Select currency</span>
        <select v-model="currency" class="form-select mt-1 block w-full">
          <option>EUR</option>
          <option>USD</option>
        </select>
      </label>
      <label class="block mt-4 w-1/4 w-max-sm mr-4">
        <span class="text-gray-700">Early retirement method</span>
        <select v-model="method" class="form-select mt-1 block w-full">
          <option value="25">25-rule</option>
          <option value="fixed-returns">Fixed returns</option>
          <option value="withdraw-zero">Withdraw to zero</option>
        </select>
      </label>
      <div class="w-1/8 mt-4">
        <span class="text-gray-700">Capital Gain Taxes</span>
        <input
          type="number"
          class="form-input mt-1 block w-full"
          v-model="capitalGainTax"
          placeholder="20"
        />
      </div>
    </div>
    <div class="form-wrapper flex flex-wrap">
      <h3 class="text-lg font-semibold mt-8 w-full">Demograpgic details</h3>

      <div class="w-1/2">
        <div class="mt-4">
          <span class="text-gray-700">Age</span>
          <div class="mt-2">
            <input type="number" class="form-input" v-model="age" placeholder="29" />
          </div>
        </div>
      </div>
      <div class="w-1/2">
        <div class="mt-4">
          <span class="text-gray-700">Gender</span>
          <div class="mt-2">
            <label class="inline-flex items-center">
              <input type="radio" class="form-radio" v-model="gender" value="male" />
              <span class="ml-2">Male</span>
            </label>
            <label class="inline-flex items-center ml-6">
              <input type="radio" class="form-radio" v-model="gender" value="female" />
              <span class="ml-2">Female</span>
            </label>
          </div>
        </div>
      </div>

      <div class="w-full sm:w-1/2 md:w-1/3">
        <h3 class="text-lg font-semibold mt-8 w-full">Portfolio</h3>
        <List :items="portfolio" name="portfolio" :currency="currency" />
      </div>
      <div class="w-full sm:w-1/2 md:w-1/3">
        <h3 class="text-lg font-semibold mt-8 w-full">Assets</h3>
        <List :items="assets" name="assets" :currency="currency" />
      </div>
      <div class="w-full sm:w-1/2 md:w-1/3">
        <h3 class="text-lg font-semibold mt-8 w-full">Debt</h3>
        <List :items="debt" name="debt" :currency="currency" />
      </div>

      <h3 class="text-lg font-semibold mt-8 w-full">Your numbers</h3>
      <div class="w-1/4">
        <div class="mt-4">
          <span class="text-gray-700">Net monthly income</span>
          <div class="mt-2">
            <input type="number" class="form-input" v-model="income" placeholder="2300" />
          </div>
        </div>
      </div>
      <div class="w-1/4">
        <div class="mt-4">
          <span class="text-gray-700">Monthly expenses</span>
          <div class="mt-2">
            <input type="number" class="form-input" v-model="expenses" placeholder="800" />
          </div>
        </div>
      </div>
      <div class="w-1/4">
        <div class="mt-4">
          <span class="text-gray-700">Monthly savings</span>
          <div class="mt-2">
            <input type="number" class="form-input" v-model="monthly" placeholder="500" />
          </div>
        </div>
      </div>
      <div class="w-1/4">
        <div class="mt-4">
          <span class="text-gray-700">Avg. Interest rate (%)</span>
          <div class="mt-2">
            <input type="number" class="form-input" v-model="interest" placeholder="6" />
          </div>
        </div>
      </div>
    </div>
    <div class="text-xl font-bold mt-12">{{ calculateRequired }}</div>
  </section>
</template>

<script>
import List from "./List.vue";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      currency: "EUR",
      gender: "",
      age: "",
      method: "25",
      monthly: null,
      expenses: null,
      interest: null,
      income: null,
      capitalGainTax: null,
      inflation: 0.02
    };
  },
  computed: {
    ...mapGetters({
      portfolio: "getPortfolio",
      assets: "getAssets",
      debt: "getDebt"
    }),
    calculateRequired() {
      if (this.method === "25") {
        return (
          Number(this.expenses) *
          this.yearsToEndLife *
          ((this.yearsToEndLife + 1) / 2) *
          this.inflation
        );
      }
      if (this.method === "fixed-returns") {
        return 0;
      }
      if (this.method === "withdraw-zero") {
        return this.yearsToEndLife * this.inflation * Number(this.expenses);
      }
    },
    yearsToEndLife() {
      if (this.gender === "male") {
        return 87 - Number(this.age);
      }
      if (this.gender === "male") {
        return 89 - Number(this.age);
      }
    }
  },
  components: {
    List
  }
};
</script>
