<template>
  <div class>
    <div class="text-xl font-semibold flex flex-wrap self-start mb-4">{{ total }}{{currency}}</div>
    <ul class="items-list">
      <li class="card mb-2" v-for="(item, key) in items" :key="key">
        <ListItem :item="item" :parentName="name" :currency="currency" />
      </li>
    </ul>
    <button
      @click="addItem(name)"
      class="button rounded bg-blue-200 py-2 px-4 text-sm font-semibold mt-8"
    >Add item</button>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import ListItem from "./ListItem.vue";

export default {
  props: {
    name: {
      type: String,
      required: true
    },
    items: {
      type: Array,
      required: true
    },
    currency: {
      type: String,
      required: true
    }
  },
  computed: {
    total() {
      let total = 0;

      if (this.items.length !== 0) {
        total = this.items.reduce(
          (total, item) => Number(total) + Number(item.amount),
          0
        );
      }
      return this.formatter.format(total);
    },
    formatter() {
      const country = this.currency === "EUR" ? "pt-PT" : "en-US";

      return new Intl.NumberFormat(country, {
        style: "currency",
        currency: this.currency
      });
    },
    ...mapGetters({
      getPortfolioTotal: "getPortfolioTotal",
      getAssetsTotal: "getAssetsTotal",
      getDebtTotal: "getDebtTotal"
    })
  },
  methods: {
    ...mapActions({
      addItem: "add",
      removeItem: "remove"
    })
  },
  components: {
    ListItem
  }
};
</script>
