<template>
  <div class="max-w-sm rounded overflow-hidden shadow-lg border border-gray-100">
    <div class="flex flex-wrap px-6 py-4 align-center justify-between">
      <input class="mt-1 block w-1/3" v-model="name" placeholder="ex. Savings" />
      <input type="number" v-model="amount" class="font-semibold w-1/3" placeholder="2000" />
      <button
        @click="removeItem({arr: parentName, id: item._id})"
        class="button rounded bg-red-200 py-2 text-sm px-4 font-semibold"
      >Remove</button>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  props: {
    parentName: {
      type: String,
      required: true
    },
    item: {
      type: Object,
      required: true
    },
    currency: {
      type: String,
      required: true
    }
  },
  computed: {
    name: {
      get() {
        return this.item.name;
      },
      set(value) {
        this.updateItem({
          arr: this.parentName,
          id: this.item._id,
          field: "name",
          value: value
        });
      }
    },
    amount: {
      get() {
        return this.item.amount;
      },
      set(value) {
        this.updateItem({
          arr: this.parentName,
          id: this.item._id,
          field: "amount",
          value: value
        });
      }
    }
  },
  methods: {
    ...mapActions({
      removeItem: "remove",
      updateItem: "update"
    })
  }
};
</script>
