<template>
  <div class="container mx-auto mt-12">
    <Calculator />
  </div>
</template>

<script>
import Logo from "~/components/Logo.vue";
import Calculator from "~/components/Calculator.vue";

export default {
  components: {
    Logo,
    Calculator
  }
};
</script>
